# Panda examples

First load the pandas library

In [1]:
import pandas as pd

Example of how to construct a data frame

In [5]:
df = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20160630'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : pd.Series([1, 2, 1, 2], dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})

Display the data frame

In [6]:
df

     A          B    C  D      E    F
0  1.0 2016-06-30  1.0  1   test  foo
1  1.0 2016-06-30  1.0  2  train  foo
2  1.0 2016-06-30  1.0  1   test  foo
3  1.0 2016-06-30  1.0  2  train  foo

Get column names

In [18]:
var_names = list(df.columns.values)
var_names

['A', 'B', 'C', 'D', 'E', 'F']

Select only the column called A, then only the columns A and C

In [7]:
df['A']

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [20]:
df[['A','C']]

     A    C
0  1.0  1.0
1  1.0  1.0
2  1.0  1.0
3  1.0  1.0

Select data where 'D' = 2

In [24]:
df.loc[df['D']==2]

     A          B    C  D      E    F
1  1.0 2016-06-30  1.0  2  train  foo
3  1.0 2016-06-30  1.0  2  train  foo